{% extends "base.html" %}

{% block content %}
    <h1>This Blog</h1>
    <form action='/' method='post'>
        <label>
            New Blog Entry:
            <input type="text" name='title' />
            <input type="text" name='entry' />
        </label>
        <input type="submit" value='Add Blog Entry' />
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <p>Your blog is empty</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.title}}{{blog.entry}}
                <form method="POST" style="display:inline-block;">
                    <input type="hidden" action="#/add_a_new_post" name="blog-id" value="{{blog.id}}" />
                    <input type="submit" value="Save" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

{% endblock %}
