{% extends "base.html" %}


{% block content %}
    <h1>Add a new post</h1>
    <form action='/add_a_new_post' method='post'>
        <label>
            New Blog Entry:
            <input type="text" name='title' value='{{entry_title}}' />
            <input type="text" name='entry' value='{{entry_text}}' />
        </label>
        <input type="submit" value='Add Blog Entry' />
    </form>

    <hr />



        <!-- <ul>
            {% for blog in blogs %}
            <li>{{blog.title}}{{blog.entry}}
                <form method="POST" style="display:inline-block;">
                    <input type="hidden" action="#/add_a_new_post" name="blog-id" value="{{blog.id}}" />
                    <input type="submit" value="Save" />
                </form>
            </li>
            {% endfor %}
        </ul> -->



    <hr />

{% endblock %} -->
