<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
<body>

    <header>
      <nav>
        <a href="/">Main Blog Page - </a>
        <a href="/signup"> - Sign Up - </a>
        <a href="/login"> - Log In - <a>
        <a href="/add_a_new_post"> - Create new blog post - </a>
        <a href="/updatedb"> - Initialize Database - </a>
        <a href="/logout"> - Log Out </a>
      </nav>
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}

</body>
</html>
