{% extends "base.html" %}

{% block content %}
  <hr />


        <h1>
          {{blog.title}}
        </h1>

        <h5>Written by <a href="/blog?name={{ blog.owner.username }}">{{ blog.owner.username }}</a></h5>

        <p>
          {{blog.entry}}
        </p>



<!--

            <ul>

                <li>{{blog.title}}<br>{{blog.entry}}<br><br>
                    <form method="POST" style="display:inline-block;">
                        <input type="hidden" action="#/add_a_new_post" name="blog-id" value="{{blog.id}}" />
                        <input type="submit" value="Save" />
                    </form>
                </li>

            </ul>
 -->

    <hr />
{% endblock %}
